{% extends 'Admin/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/pronav.html' %}
   
  <div class="container-fluid mt-5 ">

    <div class="row ">
      <div class="col-xl-12 mb-5 mb-xl-0">
        <div class="card  shadow" style="background-color: #7963E4;">
          <div class="card-header bg-transparent text-white text-center">
Arice Home image image changer
          </div>
          <div class="card-header bg-transparent text-warning text-center">
         {{msg}}
                      </div>
          <div class="card-body text-white">
           <div class="row">
             <div class="col text-center mx-5">
              <form action="{% url 'frontimage_sumbit' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group  text-center">
                  <label for=""></label>
                  <input type="file" required class="form-control-file" name="myfile" id="" placeholder="" aria-describedby="fileHelpId">
                </div>
                <button name="" id="" type="submit" class="btn btn-white text-dark" >Update</button>
              </form>
             </div>
           </div>
           
           
          </div>
        </div>
      </div>
    
    </div>
{% include 'includes/footer.html' %}
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
